/*Generel styling*/
 
* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

/*indhold header*/
header {
	background-color: #333232;
	height: 100vh;
	max-width: auto;
}

.menu-top{
 	display: flex;
	justify-content: space-between;
	 padding-top: 40px;
	 padding-left: 60px;
	 padding-right: 60px;
}

.menu-hvid {
	width: 45vw;
	height: 50px;
	border-radius: 100px;
	background-color: #fff;
}

.fa-bars{
	display: flex;
	justify-content: right;
	margin-right: 20px;
}

.fa-magnifying-glass{
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-top: 22px;
}

.videocontainer {
	display: flex;
	justify-content: space-between; 
}

.video {
	width: 48%; 
	height: auto;
}

.tilbud img{
	height: 400px;
	width: 300px;
  }

/*tekst og overskrifter*/
h1{
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
}

h2{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
	margin-bottom: 100px;
}

h5 {
	font-size: 50px;
	line-height: 1;
}
	
/*Kontaktform*/

.first-line {
    color: #ff1e00;
    display: flex;
   justify-content: left;
   margin-left: 250px;
}

.second-line {
    color: #333232;
    display: flex;
    justify-content: right;
    margin-right: 150px;
   
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: flex;
	flex: 1;
}

.left, .right{
	flex: 1;
}

.cirkel-container{
	display: flex;
	justify-content: space-between;
}

.cirkel{
	width: 60px;
	height: 60px;
	background-color: grey;
	border-radius: 50%;
	margin-right: 20px;
}

.kontaktform {
	border-radius: 5px;
	padding: 1.3em;
	width: 50%;
	margin: 0 auto; /*Centrerer elementet på siden*/
  }

input[type=text], input[type=email], input[type=tel], select, textarea {
	width: 90%;
	padding: 1em;
	border: 1px solid #000;
    background-color: #EDECEC;
	border-radius: 50px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

textarea {
    display: flex;
    justify-content: right;
	border-radius: 20px;
}

button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 20px;
	width: 25%;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

button:hover{
background-color: #333232;
}

footer {
	background-color: #333232;
	color: #fff;
	height: 70vh;
	max-width: auto;
	
}

/*Responsiv skal tilpasses!*/

@media only screen and (max-width: 850px){
	main{
		width: 100% !important;
	}
	
	form {
		display: flex;
		flex-direction: column;
	}

	.first-line {
		color: #ff1e00;
		display: flex;
	   justify-content: left;
	   margin-left: 40px;
	}
	
	.second-line {
		color: #333232;
		display: flex;
		justify-content: right;
		margin-right: 20px;
	   
	}

}
