/*Generel styling*/
 
* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

img{
	max-width: 100%;
}

/*indhold header*/
header {
	background-color: #2b2b2b;
	height: 100vh;
	max-width: auto;
}

.menu-top{
 	display: flex;
	justify-content: space-between;
	 padding-top: 40px;
	 padding-left: 60px;
	 padding-right: 60px;
}

.menu-hvid {
	width: 45vw;
	height: 50px;
	border-radius: 100px;
	background-color: #fff;
}

.fa-bars{
	display: flex;
	justify-content: right;
	margin-right: 20px;
}

.fa-magnifying-glass{
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-top: 22px;
}

.videocontainer {
	display: flex;
	justify-content: space-between; 
}

.video {
	width: 50%; 
	height: auto;
}

.frontimg {
	width: 50%;
	height: auto;
}

/*services forside*/

.imagecontainer {
	display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
	margin-right: 30px;
  }

.image {
	width: 110%;
	height: auto;
	transition: 1s;
}

.image:hover{
	transform:scale(1.1);
	z-index: 2;
}

.knap-pris button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 0.5em;
	border: none;
	border-radius: 100px;
	width: 15%;
	font-size: 25px;
	cursor: pointer;
	margin-top: 40px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

.knap-pris {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

/*tekst og overskrifter*/
h1{
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
}

h2{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
	margin-bottom: 100px;
}

h3{
	font-size: 40px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
}

h4{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #fff; 
	margin-top: 30px;
	margin-bottom: 50px;
}

h5 {
	font-size: 60px;
	line-height: 1;
}

h6 {
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

/*cases box*/
.cases-billeder{
	display: flex;
    justify-content: space-evenly;
	padding-left: 160px;
	padding-bottom: 70px;
}

.case-img{
	width: 70%;
	height: auto;
}

.cases-box {
	background-color: #333232;
	height: auto;
	max-width: auto;
}
	
/*Kontaktform*/

.first-line {
    color: #ff1e00;
    display: flex;
   justify-content: left;
   margin-left: 250px;
}

.second-line {
    color: #333232;
    display: flex;
    justify-content: right;
    margin-right: 150px;
	margin-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

form {
	display: flex;
	flex: 1;
}

.left, .right{
	flex: 1;
}

.cirkel-container{
	display: flex;
	justify-content: space-between;
}

.cirkel{
	width: 60px;
	height: 60px;
	background-color: grey;
	border-radius: 50%;
	margin-right: 20px;
}

.kontaktform {
	border-radius: 5px;
	padding: 1.3em;
	width: 50%;
	margin: 0 auto; /*Centrerer elementet på siden*/
	margin-bottom: 80px;
	margin-top: 50px;
  }

input[type=text], input[type=email], input[type=tel], select, textarea {
	width: 90%;
	padding: 1em;
	border: 1px solid #000;
    background-color: #EDECEC;
	border-radius: 50px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

textarea {
    display: flex;
    justify-content: right;
	border-radius: 20px;
}

button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 100px;
	width: 25%;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

button:hover{
background-color: #333232;
}

/*footer*/
footer {
	background-color: #333232;
	height: auto;
	width: auto;
} 

footer img{
	max-width: 15%;
	height: auto;
	padding: 20px;
}

.kolonner{
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	padding-left: 20px;
}

.kolonne1{
	grid-column-start: 1;
}

.kolonne1 h6{
	line-height: 1;
	text-align: left;
	font-size: 23px;
}

.kolonne2 h6, .kolonne3 h6{
	line-height: 0.3;
	font-family: 'Libre Caslon Text', serif;
	font-size: 20px;
	text-align: left;
	border-bottom: 2px solid #fff;
	margin-right: 30px;
	padding-bottom: 20px;
}

.kolonne2{
	grid-column-start: 3;
}

.kolonne3{
	grid-column-start: 5;
}
.insta{
	width: 150%;
}
.tiktok{
	width: 150%;
}

hr{
	border: 1px solid #fff;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
}

/*Responsiv skal tilpasses!*/

@media only screen and (max-width: 850px){
	main{
		width: 100% !important;
	}
	
	form {
		display: flex;
		flex-direction: column;
	}

	.first-line {
		color: #ff1e00;
		display: flex;
	   justify-content: left;
	   margin-left: 40px;
	}
	
	.second-line {
		color: #333232;
		display: flex;
		justify-content: right;
		margin-right: 20px;
	   
	}

}
